.skills-container {
}


.skills-photo-container {
    display: flex;

}

.skills-photo-wrapper {
    margin: 0px 4px 4px 4px;
}


.image-row-1 {
    width: 100%;
    height: auto;
}

.skills-objective-container {
    display: flex;
}

.resume-text-container {
    display: flex;
    justify-content: center;
    background-color:rgba(37,42,52, 1);
    margin: 0px 4px 4px 4px;
    flex: 1;
}

.resume-text-wrapper {
    display: flex;
    flex-direction: column;
    padding: 20px;
    color: white;
    /* border: 1px solid red; */
    width: 100%;
    margin: 15px 0px;
}


.skills-header {
    text-align: center;
 
}

.skills-circle-container {
    /* border: 1px solid yellow; */
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.skill-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: 1px solid purple; */
    flex-direction: column;

}


.skills-text {
    line-height: 32px;
}

.about-container {
    display: flex;
    margin-bottom: 0px 4px 4px 4px;
}

.about-wrapper {
    color: white;
    background-color:rgba(37,42,52, 1);
    margin: 0px 4px 4px 4px;
    padding: 20px;
}

.about-text {
    line-height: 32px;
}


@media(max-width: 1300px) {
    /* .skills-objective-container {
        flex-wrap: wrap;
        flex-direction: column;
    } */

    .skills-circle-container {
        flex-wrap: wrap;
    
    }

    .skill-wrapper {
        display: flex;
        flex-basis: 50%;
        margin: 15px 0px;
    }

}

@media(max-width: 768px)
{
    .skills-photo-container {
        flex-wrap: wrap;
        flex-direction: column;
    }
      .skills-objective-container {
        flex-wrap: wrap;
        flex-direction: column;
    }

    .skills-circle-container {
        flex-wrap: nowrap;
        width: 100%;
    }

    .resume-text-wrapper {
  
        padding: 0px;
        width: 100%;

    }


}


@media(max-width: 600px)
{
    .skills-photo-container {
        flex-wrap: wrap;
        flex-direction: column;
    }
      .skills-objective-container {
        flex-wrap: wrap;
        flex-direction: column;
    }

    .skills-circle-container {
        flex-wrap: wrap;
    
    }



}



