.skills-container {
}


.skills-photo-container {
    display: flex;

}

.skills-photo-wrapper {
    margin: 0px 4px 4px 4px;
}


.image-row-1 {
    width: 100%;
    height: auto;
}

.skills-objective-container {
    display: flex;
}

.resume-text-container {
    display: flex;
    justify-content: center;
    background-color:rgba(37,42,52, 1);
    margin: 0px 4px 4px 4px;
    flex: 1;
}

.resume-text-wrapper {
    padding: 20px;
    color: white;
}
.skills-header {
    text-align: center;
 
}

.skills-text {
    line-height: 32px;
}

.about-container {
    display: flex;
    margin-bottom: 0px 4px 4px 4px;
}

.about-wrapper {
    color: white;
    background-color:rgba(37,42,52, 1);
    margin: 0px 4px 4px 4px;
    padding: 20px;
}

.about-text {
    line-height: 32px;
}

@media(max-width: 768px)
{
    .skills-photo-container {
        flex-wrap: wrap;
        flex-direction: column;
    }

    .skills-objective-container {
        flex-wrap: wrap;
        flex-direction: column;
    }

}

