
.footer-container {
    margin: 8px 0px;
    position: relative;
    background-color:rgba(37,42,52, 1);
    height: 15vh;
}

.footer-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    padding: 5px;

}
