
.site-links-container {

    /* border: 1px solid blue; */
}

.site-links {
    color: white;
    background-color:rgba(37,42,52, 1);
    text-align: center;
    text-decoration: none;
    padding: 10px;
    /* border: 1px solid green; */
}

.site-links:hover {
    text-decoration: none;
    background-color: rgb(173, 173, 196);
}
